<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>

    <div style="float: left">
        <form method="post" action="/book/edit">
            <div style="float: left">
                <img style="height: 350px" th:src="${urlCover}" alt="">
                <div>
                    <a th:href="${urlBook}">Открыть книгу</a>
                </div>
            </div>
            <div>
                <div style="padding-left: 300px; padding-top: 30px; ">
                    <a>id Обложки</a>
                    <input type="text" th:name="idCoverBook" th:value="${urlCover}"/>
                </div>
                <div style="padding-left: 300px; padding-top: 30px">
                    <a>id Книги</a>
                    <input type="text" th:name="idBook" th:value="${idBook}"/>
                </div>
                <div style="padding-left: 300px; padding-top: 30px">
                    <a>Тема</a>
                    <input type="text" th:name="subject" th:value="${subjectBook}"/>
                </div>
                <div style="padding-left: 300px; padding-top: 30px">
            <textarea style="resize: none" cols="50" rows="11" th:name="description"
                      placeholder="description" th:text="${description}"></textarea><br>
                </div>
            </div>
            <button type="submit" name="action" value="update">Обновить</button>
            <button type="submit" name="action" value="create">Создать</button>
            <button type="submit" name="action" value="delete">Удалить</button>
        </form>
    </div>

    <div>
        <fieldset>
            <legend>Список книг</legend>
            <div th:each="el : ${books}">
                <a th:href="'/book/' + ${el.id}" th:text="${el.name}"></a>
            </div>
        </fieldset>
    </div>
</div>
</body>
</html>