<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
</head>
<body>
<a href="/">Вернуться в меню</a>

<div>

    <div style="float: left">
        <form method="post" action="/task/edit">

            <div style="float: left">
        <textarea style="resize: none" cols="60" rows="20" th:name="problemTask"
                  placeholder="problem" th:text="${problem}"></textarea>
            </div>

            <div style="float: left">
                <div>
                    <a>id Задачи</a>
                    <input type="text" th:name="idTask" th:value="${idTask}"/>
                </div>
                <div>
                    <a>url Ответа</a>
                    <input type="text" th:name="urlSolution" th:value="${urlSolution}"/>
                </div>
                <div>
                    <a>Имя</a>
                    <input type="text" th:name="nameTask" th:value="${nameTask}"/>
                </div>
                <div>
                    <a>Тема</a>
                    <input type="text" th:name="subjectTask" th:value="${subjectTask}"/>
                </div>

                <button type="submit" name="action" value="update">Обновить</button>
                <button type="submit" name="action" value="create">Создать</button>
                <button type="submit" name="action" value="delete">Удалить</button>

            </div>
        </form>


    </div>

    <div>
        <div style="float:right">
            <fieldset style="width: 200px">
                <legend>Список тем</legend>
                <div th:each="sub : ${listSubject}">
                    <a th:href="'/task/' + ${sub}" th:text="${sub}"></a>
                </div>
            </fieldset>
        </div>
        <div style="float: right">
            <fieldset style="width: 200px">
                <legend>Задачи</legend>
                <div th:each="task : ${tasks}">
                    <a th:href="'/task/' + ${sub} +'/' + ${task.id}" th:text="${task.fileName}"></a>
                </div>
            </fieldset>
        </div>
    </div>
</div>
</body>
</html>